body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#hint {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 5%;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }
  #hint .message {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    background: white;
    color: #666666;
    font-family: "Lucida Grande", verdana, sans-serif;
    font-size: 12px;
    line-height: 32px;
    border-radius: 10.56px;
    padding: 0 16px; }
    @media (max-width: 400px) {
      #hint .message {
        font-size: 10px; } }

